
{% extends 'base/shortbase.html' %} 
{% block start %}
<link rel="stylesheet" href="/static/css/add_products.css">
<div class="container bg-white" style="border-radius: 10px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" style="border: 2px solid rgb(1, 1, 112);  border-radius: 12px; margin: 5px;">
          
          <div class="row" style="background-color: rgb(1, 1, 112); border-radius: 10px; color: white;">
            <div class="col-12">
              <center>
                Order Summary
              
              </center>
            </div>
          </div>
          <br>
          {% for c in card_data %}
          {{c.c_product.p_name}} : Rs {{c.price}}
          <br>
          Quantity : {{c.quantity}}
          <br><br>
          {% endfor %}
        
           <div class="row" style="background-color: rgb(1, 1, 112); border-radius: 10px; color: white; ">
            <div class="col-12" >
              
                Total: Rs. {{total}} + delievery charges
              
          
            </div>
          </div>
        </div>
        
        <div class="col-3"></div>
        
    </div>
  
</div>
<br>
<form action="" method="post">
  {% csrf_token %}
<div class="container bg-white" style="border-radius: 10px;">
    <div class="row">
                <div class="col-2"></div>
              <div class="col-2"><br>City</div>
              <div class="col-6">
                        <div class="custom-select">
                            <select id="city"  name="city">
                               <option value="-1"  >select city</option>
                              {% for c in cities %}
                               <option value="{{c.id}}" {% if c.id == city.id %} selected {% endif %} >{{c.city_name}}</option>
                               {% endfor %}
                            </select>
                        </div>
                </div>
                <div class="col-2"></div>

                <div class="col-2"></div>
              <div class="col-2"><br>Areas/Zones - Postal Code</div>
              <div class="col-6">
                        <div class="custom-select">
                            <select id="shipping_area_select_box"  name="shipping_area">
                              {% for shipping_area in shipping_areas %}                                                                     
                               <option value="{{shipping_area.id}}" {% if shipping_area.id == shipping_area_obj.id%} selected  {% endif %} {% if shipping_area.id ==  customer_data_shipping_location.shipping_area_id.id %} selected {% endif %} >{{ shipping_area.area_name}} - {{shipping_area.postal_code}}</option>
                               {% endfor %}

                            </select>
                        </div>

                </div>
                <div class="col-2"></div>


                
                    <div class="col-2"></div>
              <div class="col-2"><br>Phone Number</div>
              <div class="col-6">
                    <div class="input-container">
                      <input type="text" {% if customer_data_shipping_location %} value="{{customer_data_shipping_location.phone_number}}" {% endif %}   name="phone_number">
                    </div>
                </div>  
                <div class="col-2"></div>
                <div class="col-2"></div>
                <div class="col-2"><br>Email Address</div>
              <div class="col-6">
                    <div class="input-container" style="width: 100%;padding: 12px 16px;border: 2px solid rgb(1, 1, 112);border-radius: 8px;background-color: #ffffff;color: rgb(128, 124, 124)">
                  <b>{{request.user.email }}</b><i style="color: black;"> your order confirmation email</i>
                    </div>
                </div>
                <div class="col-2"></div>


                <div class="col-2"></div>


                    
              <div class="col-2"><br>Address 1</div>
              <div class="col-6">
                     <div class="input-container">
                <input type="text"  {% if customer_data_shipping_location %} value="{{customer_data_shipping_location.address1}}" {% endif %}  name="address1">
                    
                        </div>
                </div>
                <div class="col-2"></div>
                
                

                    
              <div class="col-2"></div>
              <div class="col-2"><br>Address 2</div>
              <div class="col-6">
                     <div class="input-container">
                <input type="text"   {% if customer_data_shipping_location %} value="{{customer_data_shipping_location.address2}}" {% endif %}  name="address2">
                        </div>
                </div>
                <div class="col-2"></div>
                
                <input type="hidden" name="user_found" value="{{user_found}}">
                


                    
       <div class="col-2"></div>
              <div class="col-2"><br>Choose Delivery Option:</div>
              <div class="col-6">
                        <div class="custom-select">
                        
                        <select id="delivery_option" name="delivery_option" onchange="toggle_deleivery_DateField()">
                          <option value="">-- Select Option --</option>
                          <option value="now">Deliver Now</option>
                          <option value="later">Deliver Later</option>
                        </select>
                   
                        </div>

                </div>
                <div class="col-2"></div>
                    <div class="col-2"></div>
              <div class="col-8">
                
                     <div class="input-container">
                      <div id="date_field_container" style="display: none;">
                        <div class="row">
                          <div class="col-3">Select Delivery Date:</div>
                          <div class="col-9"><input type="date" id="delivery_date" name="delivery_date"></div>
                        </div>
    
    
  </div>
                       </div>
                </div>
                <div class="col-2"></div>
                 <div class="col-4"></div>
                <div class="col-6 mt-3"><button type="submit" class="btn" style="width: 100%; background-color: rgb(1, 1, 112); color: white;"> Continue to billing </button><br><br></div>
  </div>
    </div></form>
</div>
<script>
  const city=document.getElementById('city');
  city.addEventListener('change',(event)=>
{
const selectedcity=event.target.value;
window.location.href=window.location.pathname+`?city_selected_value=${selectedcity}`;
});
</script>
{% if not city %}
<script>
  const shipping_area_select_box=document.getElementById('shipping_area_select_box');
  shipping_area_select_box.addEventListener('change',(event)=>
{
  
const selected_area=event.target.value;
window.location.href=window.location.pathname+`?selected_area=${selected_area}`;

});


</script>

{% endif %}
<script>
function toggle_deleivery_DateField() {
  const option = document.getElementById('delivery_option').value;
  const dateField = document.getElementById('date_field_container');
  
  if (option === 'later') {
    dateField.style.display = 'block';
  } else {
    dateField.style.display = 'none';
  }
}
</script>

{% endblock %}