  {% extends 'base/shortbase.html' %} 

   {% block start %}
    <div class="container bg-white">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <br><p style="font-style: italic; font-weight: bold; font-family: Arial; color: rgba(77, 70, 70, 0.726);">
          now change password from here
          </p>
          <form action="{% url 'forget_password_change_password' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-4"><br>Password</div>
                <div class="col-8">
                 <br> <input type="password" name="password" id="" class="form-control">
                </div>
                <div class="col-4"><br>Confirm password</div>
                <div class="col-8">
                <br>  <input type="password" name="confirm_password" id="" class="form-control">
                </div>
                <div class="col-4"><input type="hidden" name="email" value="{{email}}"></div>
                <div class="col-8"><br>
                  <br><button type="submit" class="btn btn-primary">enter Email</button><br>
                  <br></div>
            </div>
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

   {% endblock %}