  {% extends 'base/shortbase.html' %} 

   {% block start %}
    <div class="container bg-white">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <br><p style="font-style: italic; font-weight: bold; font-family: Arial; color: rgba(77, 70, 70, 0.726);">
            please enter your email for OTP
          </p>
          <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">Email</div>
                <div class="col-8">
                  <input type="email" name="email" id="" class="form-control">
                </div>
                <div class="col-4"></div>
                <div class="col-8"><br>
                  <button type="submit" class="btn btn-primary">enter Email</button>
                  <br></div>
            </div>
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

   {% endblock %}