<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/static/css/add_to_card.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {% extends "base/shortbase.html" %}
    {% block start %}
    
  
      <div class="container-fluid" style="background-color:  #f5f5f5;">
        <div class="row">
            <div class="col-12">


            <br>
                {% for product in card_data %}
                <div class="container bg-white" style="border-radius: 10px;">

                    <div class="row">
                        <div class="col-1">
                             <br><img src="/media/images/{{product.c_product_variant.product_variant.first.image}}" class="product_image" alt="{{product.c_product.p_name}} image">
                        </div>
                        <div class="col-3">
                                <p class="product_name">
                                    <br>{{product.c_product.p_name}}
                                </p>
                                <p class="description">
                                     {{product.c_product.p_description}}
                                </p>
                               
                               
                        </div>
                        <div class="col-7"></div>
                        <div class="col-1">
    <a href="{% url 'delete_card' product.c_id %}"><button class="remove-btn">❌</button></a>
                
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-1">
                            <p class="size">
                                    Size: {{product.c_product_variant.size}}
                                </p>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-3 border" style="height: 3vw">
                           <center>{% include 'addtocart/increase_decreaseButtons.html' %}</center> 
                        </div>
                        <div class="col-1"></div>
                        <div class="col-2">
                            <p class="price">
                                   {% if product.c_product_variant.p_is_sale %}
                       Rs. {{product.c_product_variant.sale_price}}(sale)
                        {% else %}
                        Rs. {{product.c_product_variant.price}}
                        {% endif %}
                            </p>
                            <p class="quantity"> Quantity:{{product.quantity}}</p>
                        </div>
                    </div>
                    <div class="col-12"><br></div>

                </div>
                <br>
                {% endfor %}
        
            <div class="container">
                <div class="row">
                    
                    <div class="col-8"></div>
                    <div class="col-4"><br><p  style="font-family: Arial, Helvetica, sans-serif; color: #5b5757c7; font-weight: bold;">Total: Rs. {{total}}</p>
                <a href="{% url 'customer_detail' %}" style="text-decoration: none;"><button class="btn btn-success" style="width: 100%;">checkout</button></a><br><br></div>
                </div>
            </div>
            
    

    </div>

    


            </div>
      </div>
    </div>    {% endblock %}
</body>
</html>
